# Change this in your local copy to point at your JDK root folder
jdkLocation=C:/Program Files/Java/jdk1.8.0_151

# Change this to point at the folder containing starfarer.api.jar
starsectorInstallDir=C:/Program Files (x86)/Fractal Softworks/Starsector/starsector-core

# Change this to point at your local LazyLib jar
lazylibJar=C:/Program Files (x86)/Fractal Softworks/Starsector/mods/LazyLib/jars/LazyLib.jar

# Point outputPath at your Console mod folder for faster testing
outputPath=build/mod
#outputPath=C:/Program Files (x86)/Fractal Softworks/Starsector/mods/Console Commands
